body {
    /*background: rgb(230, 236, 135);*/
    font-family: Verdana, Tahoma, sans-serif;
    background-image: url("../buscador-wallpaper.jpg");
    background-size: cover;
    height: 600px;
}

#contenedor1 {
    margin: auto;
    width: 440px;
    height: 170px;
    /*margin-left: auto;
    margin-right: auto;*/
    align-items: center;
    border-radius: 20px;
    border-style: dotted;
    background-color: black;
    border-color: chartreuse;
}

#labelNombre {
    color: chartreuse;
}

h1 {
    color: brown;
}

p {
    color:rgb(212, 230, 59);
}

#resultado h1 {
    display: inline-block;
}

#flagImg {
    width: 40px;
    margin-left: 10px;
}
